.app-logo {
    width: 3rem;
}
  
.header-container {
    border-bottom: 1.25px solid #7d4cdb;
    height: 80px;
    display: flex;
    align-items: center;
}
  
.header-sections {
    width: 1200px;
    padding: 0 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.nav-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
  
.header-title {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    color: #7d4cdb;
    text-decoration: none;
}
  
.header-title span {
    color: #000000;
}
  
.navigation-contact-list a:hover, 
.navigation-contact-list a:focus {
    color: #7d4cdb;
}
  
.navigation-contact-list {
    list-style: none;
    display: flex;
    column-gap: 4rem;
    margin-left: auto;
}
  
.navigation-contact-list a {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
